@import "tailwindcss";

:root {
  --primary: #3b82f6;
  --secondary: #1e293b;
  --accent: #fbbf24;
}

body {
  @apply bg-slate-50 text-slate-900;
}

button,
[role="button"],
input[type="button"],
input[type="submit"],
select {
  cursor: pointer;
}

@media print {
  @page {
    margin: 10mm;
  }
}